<!DOCTYPE html>
<html lang="en">

<head>
    \{{> headPartial this}}
    <link rel="stylesheet" href="css/home.css">
</head>

<body data-user="\{{user}}" data-offices="\{{adminOffices}}">
    \{{> headerPartial this}}
    \{{#if isLoggedIn}}
    <div class="pad-below-header">
        <div class="action-title pad ttuc">My Growthfile</div>
    </div>
    <div id="progressBar" class="progress-bar--container"></div>
    \{{else}}
    <div class="pad-below-header no-login"></div>
    \{{/if}}
    <main>
        \{{> actionsAside this}}
        <div class="container">
            \{{#if isLoggedIn}}
            <div class="breadcrumbs">
                <ul>
                    <li><a href="#">Home</a></li>
                </ul>
            </div>
            \{{/if}}
            \{{#if isAdmin}}
            <section class="pad flexed-jc-center flexed-column flexed-ai-center">
                <div class="mw-100">
                    <h2>Select Your office</h2>
                </div>
                <form id="office-form" class="flexed-row">
                    <select class="input-field mr-8 f1" id="office-selector">
                        \{{#each adminOffices}}
                        <option value="\{{this}}">\{{this}}</option>
                        \{{/each}}
                    </select>
                    <input type="button" class="button" value="Continue" onclick="startAdmin()">
                </form>
            </section>
            \{{/if}}

            \{{#if isSupport}}
            <section id="support-office-search" class="pad">
                <div>
                    <form autocomplete="off" id="all-office-form" class="flexed flexed-column">
                        <select class="input-field f1">
                            <option value="">Loading...</option>
                        </select>
                        <input onclick="addNewOffice()" class="button mt-16" type="button" value="Create New Office">
                    </form>
                    <div id="office-search-results" class="hidden border animated fadeIn mt-16">
                        <p id="error" class="hidden bold col-red"></p>
                        <ul id="office-search-results-ul" class="mdc-list"></ul>
                    </div>
                </div>
            </section>
            \{{/if}}
            {{!-- This div stores the dynamically generated html --}}
            <div class="forms-parent">
            </div>

            <div class="hero-actions">
                <div class="hidden pad bc-container">
                    <select class="input-field mb-16 mw-100" id="create-new-template-select">
                        <option value="">Loading...</option>
                    </select>
                    <form>
                        <p>Drag a file here to upload</p>
                        <div class="bc-file-drag hidden raised pad-10 tac">
                            <i class="fas fa-cloud-upload-alt ft-60"></i>
                            <input type="file" accept=".csv,.xlsx,.xls" data-maxsize="2M">
                        </div>
                    </form>
                    <div class="bc-results hidden mt-16">
                        <h5 class="bold ttuc">Bulk Creation Results:</h5>
                        <div>
                            <ul class="bc-results-list"> </ul>
                        </div>
                    </div>
                </div>
                <div class="pad search-update hidden">
                    {{!-- search and update --}}
                    <div>
                        <p class="col-gray">Select a template</p>
                    </div>
                    <div class="activity-parent">
                        <div>
                            <form class="pad-10 flexed">
                                <select class="f1 input-field templates-list">
                                    <option value="">Select a template</option>
                                </select>
                            </form>
                            <div class="activity-template-result pad-10">
                                <ul class="activity-ul">
                                </ul>
                            </div>
                        </div>
                        <div class="activity-container mt-16"></div>
                    </div>
                </div>
            </div>

            <section id="actions-section" class="hidden animated fadeIn action-icons-container pad">
                <div class="border">
                    \{{#if showActions}}
                    <div class="bg-white br-8 raised grid-container-3">
                        \{{#if isTemplateManager}}
                        <div id="manage-templates" class="card" onclick="manageTemplates()">
                            <span class="flexed-jc-center mb-16">
                                <i class="fas fa-file-alt col-black"></i>
                            </span>
                            <span class="tac ttuc">
                                <p class="icon-text">Manage Templates</p>
                            </span>
                        </div>
                        {{!-- manage templates end --}}
                        \{{/if}}

                        \{{#if isAdminOrSupport}}
                        <div id="update-auth" onclick="updateAuth()" class="card">
                            <span class="flexed-jc-center mb-16">
                                <i class="fas fa-user-edit col-black"></i>
                            </span>
                            <span class="tac ttuc">
                                <p class="icon-text">Verify Email Addresses</p>
                            </span>
                        </div>

                        <div id="add-employees" onclick="bulkCreate()" class="card">
                            <span class="flexed-jc-center mb-16">
                                <i class="fas fa-user-plus col-black"></i>
                            </span>
                            <span class="tac ttuc">
                                <p class="icon-text">Create New</p>
                            </span>
                        </div>

                        <div id="trigger-reports" onclick="triggerReports()" class="card">
                            <span class="flexed-jc-center mb-16">
                                <i class="fas fa-file-excel col-black"></i>
                            </span>
                            <span class="tac ttuc">
                                <p class="icon-text">Generate Reports</p>
                            </span>
                        </div>

                        <div id="change-phone-number" onclick="changePhoneNumber()" class="card">
                            <span class="flexed-jc-center mb-16">
                                <i class="fas fa-phone-volume col-black"></i>
                            </span>
                            <span class="tac ttuc">
                                <p class="icon-text">Update Phone Number</p>
                            </span>
                        </div>

                        <div id="update-recipient" onclick="updateEmailInReports()" class="card">
                            <span class="flexed-jc-center mb-16">
                                <i class="fas fa-envelope-open-text col-black"></i>
                            </span>
                            <span class="tac ttuc">
                                <p class="icon-text">Update Email Recipient List</p>
                            </span>
                        </div>

                        <div id="update-activity" onclick="searchAndUpdate()" class="card">
                            <span class="flexed-jc-center mb-16">
                                <i class="fas fa-font col-black"></i>
                            </span>
                            <span class="tac ttuc">
                                <p class="icon-text">Search & Update</p>
                            </span>
                        </div>
                        \{{/if}}
                        {{!-- isAdminOrSupport end --}}
                        \{{/if}}
                        {{!-- show actions end --}}
                    </div>
                </div>
            </section>


            \{{> heroPartial}}
            <div class="">
                \{{> featuredPartial}}
                \{{> appFeaturesPartial}}
            </div>
            <div id="modal-box"></div>
        </div>
    </main>
    \{{> scriptsPartial}}
    \{{> footerPartial}}
    <script defer src="https://maps.googleapis.com/maps/api/js?key=\{{mapsApiKey}}"></script>
    <script src="js/home.js"></script>
</body>

</html>
