<!DOCTYPE html>
<html lang="en">

<head>
    \{{> headPartial this}}
    <link rel="stylesheet" href="css/home.css">
</head>

<body>
    \{{> persistentBarPartial this}}
    \{{> headerPartial this}}
    <div class="container">

        \{{#if isLoggedIn}}
        <div class="office-selection">
            \{{#if isSupport}}
            <form id='office-search-form' class="form-inline">
                <input type="text" placeholder="Search an office" class="input-field" id='office-search-field'
                    oninput="toggleSearchButton(this)">

                <ul></ul>

                <button type="button" class="button button-search invisible" onclick="searchOffice()">search</button>
                <button type="button" class="invisible button" id='continue'
                    onclick="startAdmin(document.getElementById('office-search-field').value)">Conitnue</button>
                <button type="button" class="button" id='create-office' onclick="addNew(true,false,'office')">Create
                    Office</button>
            </form>

            \{{else}} \{{#if isAdmin}}
            <form id='office-search-form' class="form-inline">
                <span class="select-dropdown">
                    <select id='office-selector'>
                        \{{#each adminOffices}}
                        <option value="\{{this}}">\{{this}}</option>
                        \{{/each}}
                    </select>
                </span>
                <a class="button" id='continue'
                    onclick="startAdmin(document.getElementById('office-selector').value)">Conitnue</a>
            </form>
            \{{else}}
            {{!-- <p>Normal user</p> --}}
            <section class="action-icons-container">
                <div class="cards">
                    <div id="view-enquiries" onclick="viewEnquiries()">
                        <i class="fas fa-question action-icon"></i>
                        <p class="icon-text">View Enquiries</p>
                    </div>
                </div>
            </section>
            \{{/if}}
            \{{/if}}
        </div>

        <section class="action-icons-container hidden">
            <div class="cards">
                \{{#if isSupport}}
                <div id="add-employees" onclick="addNew(true)">
                    <i class="fas fa-user-plus action-icon"></i>
                    <p class="icon-text">Create New</p>
                </div>
                <div id="trigger-reports" onclick="triggerReports(true)">
                    <i class="far fa-file-excel action-icon"></i>
                    <p class="icon-text">Trigger Reports</p>
                </div>
                <div id="change-phone-number" onclick="changePhoneNumber()">
                    <i class="fas fa-phone-volume action-icon"></i>
                    <p class="icon-text">Update Phone Number</p>
                </div>
                <div id="employee-resign" onclick="employeeExit()">
                    <i class="fas fa-user-minus action-icon"></i>
                    <p class="icon-text">Employee Exit</p>
                </div>
                <div id="update-recipient" onclick="updateEmailInReports()">
                    <i class="fas fa-envelope-open-text action-icon"></i>
                    <p class="icon-text">Update Report Mail Ids</p>
                </div>
                <div id="update-subscription" onclick="updateSubscription()">
                    <i class="far fa-file-archive action-icon"></i>
                    <p class="icon-text">Update Subscriptions</p>
                </div>
                <div id="update-activity" onclick="searchAndUpdate()">
                    <i class="fas fa-font action-icon"></i>
                    <p class="icon-text">Search & Update</p>
                </div>
                <div id="view-enquiries" onclick="viewEnquiries()">
                    <i class="fas fa-question action-icon"></i>
                    <p class="icon-text">View Enquiries</p>
                </div>
                <div id="manage-templates">
                    <i class="fas fa-file-alt action-icon"></i>
                    <p class="icon-text">Manage Templates</p>
                </div>
                \{{else}} \{{#if isAdmin}}
                <div id="add-employees" onclick="addNew(false,true)">
                    <i class="fas fa-user-plus action-icon"></i>
                    <p class="icon-text">Create New</p>
                </div>
                <div id="trigger-reports" onclick="triggerReports(false,true)">
                    <i class="far fa-file-excel action-icon"></i>
                    <p class="icon-text">Trigger Reports</p>
                </div>
                <div id="change-phone-number" onclick="changePhoneNumber()">
                    <i class="fas fa-phone-volume action-icon"></i>
                    <p class="icon-text">Update Phone Number</p>
                </div>
                <div id="employee-resign" onclick="employeeExit()">
                    <i class="fas fa-user-minus action-icon"></i>
                    <p class="icon-text">Employee Exit</p>
                </div>
                <div id="update-recipient" onclick="updateEmailInReports()">
                    <i class="fas fa-envelope-open-text action-icon"></i>
                    <p class="icon-text">Update Report Mail Ids</p>
                </div>
                <div id="update-subscription" onclick="updateSubscription()">
                    <i class="far fa-file-archive action-icon"></i>
                    <p class="icon-text">Update Subscriptions</p>
                </div>
                <div id="update-activity" onclick="searchAndUpdate()">
                    <i class="fas fa-font action-icon"></i>
                    <p class="icon-text">Search & Update</p>
                </div>
                <div id="view-enquiries" onclick="viewEnquiries()">
                    <i class="fas fa-question action-icon"></i>
                    <p class="icon-text">View Enquiries</p>
                </div>
                <div id="manage-templates">
                    <i class="fas fa-file-alt action-icon"></i>
                    <p class="icon-text">Manage Templates</p>
                </div>
                \{{else}}
                <div id="view-enquiries" onclick="viewEnquiries()">
                    <i class="fas fa-question action-icon"></i>
                    <p class="icon-text">View Enquiries</p>
                </div>
                \{{/if}}
                \{{/if}}

        </section>

        \{{else}}
        \{{> asidePartial}}
        <section class="features-section section-one">
            <h1 class="fw-400">A habit for highly effective businesses</h1>
            <div class="features">
                <a href="/join" class="button">Start Your Free Trial Today</a>
            </div>
        </section>
        <section>
            <h2 class="fw-400">See our customers' growth</h2>
            <div class="featured-offices">
                <div class="office border pad">
                    <a href="/gazraj-security">
                        <img src="img/gazraj-security.jpg" alt="">
                    </a>
                    <div class="office-text-container">
                        <span class="office-name mb-8 mt-16 col-blue ft-size-20">Gazraj Security</span>
                        <span class="office-description-short col-light-blue">Manned Security Services</span>
                        <span class="office-description-long mt-16">Growthfile is used by their supervisor to monitor
                            and
                            quality check of their guards across their customer locations</span>
                    </div>
                </div>
                <div class="office border pad">
                    <a href="/mind-edutainment">
                        <img src="img/mind-edutainment-pvt-ltd.jpg" alt="">
                    </a>
                    <div class="office-text-container">
                        <span class="office-name mb-8 mt-16 col-blue ft-size-20">Mind Edutainment Pvt. Ltd.</span>
                        <span class="office-description-short col-light-blue">High Order Thinking School
                            Curriculum</span>
                        <span class="office-description-long mt-16">Mind Edutainment is using Growthfile to administer
                            the
                            location of their facilitators for monthly payroll computation
                            across multiple schools in India</span>
                    </div>
                </div>
                <div class="office border pad">
                    <a href="/system3net">
                        <img src="img/system3-net.jpg" alt="">
                    </a>
                    <div class="office-text-container">
                        <span class="office-name mb-8 mt-16 col-blue ft-size-20">System3.net</span>
                        <span class="office-description-short col-light-blue">IT Service Provider</span>
                        <span class="office-description-long mt-16">System3 is using Growthfile to manage field
                            employees for
                            customer visits and customer location duties</span>
                    </div>
                </div>
            </div>
        </section>
        <section class="features-section blue-gradient">
            <div class="feature-header col-blue">
                <i class="fas fa-robot mb-16"></i>
                <h2 class="fw-400">Automation</h2>
            </div>
            <span>Increase your teams productivity by automating office activities</span>
            <div class="features">
                <div class="border pad bg-white mb-8">
                    <i class="fas fa-chart-pie ft-size-20"></i>
                    <span>Payroll</span>
                </div>
                <div class="border pad bg-white mb-8">
                    <i class="fas fa-hand-pointer ft-size-20"></i>
                    <span>Sales</span>
                </div>
                <div class="border pad bg-white mb-8">
                    <i class="fas fa-wallet ft-size-20"></i>
                    <span>Expense Claim</span>
                </div>
                <div class="border pad bg-white mb-8">
                    <i class="fas fa-crosshairs ft-size-20"></i>
                    <span>Duty Assignment and more...</span>
                </div>
            </div>
            <span>Reliable and verified data</span>
            <span>One app for all</span>
            <span>No training. Go live in 30 minutes</span>
        </section>
        <section class="features-section">
            <div class="feature-header col-blue mb-8">
                <i class="fas fa-plug mb-16"></i>
                <h2 class="fw-400">Plug & Play</h2>
            </div>
            <div class="features">
                <div class="border pad mb-8">
                    <i class="fas fa-mobile ft-size-20"></i>
                    <span>Use our mobile page builder tool</span>
                </div>
                <div class="border pad mb-8">
                    <i class="far fa-lightbulb ft-size-20"></i>
                    <span>Use our program's learning to keep the page always updated</span>
                </div>
                <div class="border pad mb-8">
                    <i class="fas fa-share-alt ft-size-20"></i>
                    <span>Plug and play across social media platforms</span>
                </div>
                <div class="border pad mb-8">
                    <i class="fab fa-internet-explorer ft-size-20"></i>
                    <span>Ensure consistent messaging of your company across the web</span>
                </div>
            </div>
        </section>
        <section class="features-section blue-gradient">
            <div class="feature-header col-blue">
                <i class="fas fa-arrow-up mb-16"></i>
                <h2 class="fw-400">Unlimited Advantage</h2>
            </div>
            <div class="features">
                <div class="border pad bg-white mb-8">
                    <i class="fas fa-rupee-sign ft-size-20"></i>
                    <span>One time cost for a lifetime membership</span>
                </div>
                <div class="border pad bg-white mb-8">
                    <i class="fas fa-user-friends ft-size-20"></i>
                    <span>No per-office, per-employee costs</span>
                </div>
                <div class="border pad bg-white mb-8">
                    <i class="fas fa-signal ft-size-20"></i>
                    <span>Unlimited usage</span>
                </div>
            </div>
        </section>
        \{{/if}}
    </div>
    \{{> footerPartial}}
    <div id='modal-box'></div>
    \{{> scriptsPartial}}
    <script src="js/home.js"></script>

</body>

</html>
