<!DOCTYPE html>
<html lang="en">

<head>
    \{{> headPartial this}}
    <link rel="stylesheet" href="css/home.css">
</head>

<body>
    \{{> persistentBarPartial this}}
    \{{> headerPartial this}}
    <div class="container">
       
        \{{#if isLoggedIn}}
        <div class="office-selection">
          \{{#if isSupport}}
           <form id='office-search-form' class="form-inline">
                <label for="office">Search Office</label>
                <input type="text" placeholder="Search an office" class="input-field" id='office-search-field' oninput="toggleSearchButton(this)">
                
                <ul></ul>
                <button class="button button-search invisible" onclick="searchOffice()">search</button>
                <button class="invisible button" id='continue' onclick="startAdmin(document.getElementById('office-search-field').value)">Conitnue</button>
            </form> 
           
            \{{else}} \{{#if isAdmin}}
             <form id='office-search-form' class="form-inline">
                 <span class="select-dropdown">
                    <select id='office-selector'>
                        \{{#each adminOffices}}
                            <option value="\{{this}}">\{{this}}</option>
                        \{{/each}}
                    </select>
                 </span>
                <button class="button" id='continue' onclick="startAdmin(document.getElementById('office-selector').value)">Conitnue</button>
            </form> 
            \{{else}}
            <p>Normal user</p>
            \{{/if}} 
            \{{/if}}
        </div>
       

       
        <section class="action-icons-container hidden">
          
            <div class="cards">
                <div id="add-employees">
                    <i class="fas fa-user-plus action-icon"></i>
                    <p class="icon-text">Add Employees</p>
                </div>
                <div id="trigger-reports">
                    <i class="far fa-file-excel action-icon"></i>
                    <p class="icon-text">Trigger Reports</p>
                </div>
                <div id="change-phone-number">
                    <i class="fas fa-phone-volume action-icon"></i>
                    <p class="icon-text">Update Phone Number</p>
                </div>
                <div id="employee-resign">
                    <i class="fas fa-user-minus action-icon"></i>
                    <p class="icon-text">Employee Exit</p>
                </div>
                <div id="update-recipient">
                    <i class="fas fa-envelope-open-text action-icon"></i>
                    <p class="icon-text">Update Report Mail Ids</p>
                </div>
                <div id="update-subscription">
                    <i class="far fa-file-archive action-icon"></i>
                    <p class="icon-text">Update Subscriptions</p>
                </div>
                <div id="update-activity">
                    <i class="fas fa-font action-icon"></i>
                    <p class="icon-text">Search & Update</p>
                </div>
                <div id="view-enquiries">
                    <i class="fas fa-question action-icon"></i>
                    <p class="icon-text">View Enquiries</p>
                </div>
                <div id="manage-templates">
                    <i class="fas fa-file-alt action-icon"></i>
                    <p class="icon-text">Manage Templates</p>
                </div>
                </ul>
        </section>
        \{{else}}
        <aside class="sidebar hidden animated fadeIn">
            <p>
                <a href="/auth">Login</a>
            </p>
            <p>
                <a href="#">Features</a>
            </p>
            <p>
                <a href="#">Pricing</a>
            </p>
        </aside>
        <section class="features-section">
            <h1>A habit for highly effective businesses</h1>
            <div class="features">
                <span>Do what you are suppose to do.</span>
                <a href="/join" class="button">Start For Free</a>
            </div>
            <div class="featured-companies">
                {{!-- TODO: Put companies here --}}
            </div>
        </section>
        <section class="features-section">
            <div class="feature-header">
                <i class="fas fa-robot"></i>
                <h2>Automation</h2>
            </div>
            <span>Increase your teams productivity by automating office activities</span>
            <div class="features">
                <div class="feature">
                    <i class="fas fa-chart-pie"></i>
                    <span>Payroll</span>
                </div>
                <div class="feature">
                    <i class="fas fa-hand-pointer"></i>
                    <span>Sales</span>
                </div>
                <div class="feature">
                    <i class="fas fa-wallet"></i>
                    <span>Expense Claim</span>
                </div>
                <div class="feature">
                    <i class="fas fa-crosshairs"></i>
                    <span>Duty Assignment and more...</span>
                </div>
            </div>
            <span>Reliable and verified data</span>
            <span>One app for all</span>
            <span>No training. Go live in 30 minutes</span>
        </section>
        <section class="features-section">
            <div class="feature-header">
                <i class="fas fa-plug"></i>
                <h2>Plug & Play</h2>
            </div>
            <div class="features">
                <div class="feature">
                    <i class="fas fa-mobile"></i>
                    <span>Use our mobile page builder tool</span>
                </div>
                <div class="feature">
                    <i class="far fa-lightbulb"></i>
                    <span>Use our program's learning to keep the page always updated</span>
                </div>
                <div class="feature">
                    <i class="fas fa-share-alt"></i>
                    <span>Plug and play across social media platforms</span>
                </div>
                <div class="feature">
                    <i class="fab fa-internet-explorer"></i>
                    <span>Ensure consistent messaging of your company across the web</span>
                </div>
            </div>
        </section>
        <section class="features-section">
            <div class="feature-header">
                <i class="fas fa-arrow-up"></i>
                <h2>Unlimited Advantage</h2>
            </div>
            <div class="features">
                <div class="feature">
                    <i class="fas fa-rupee-sign"></i>
                    <span>One time cost for a lifetime membership</span>
                </div>
                <div class="feature">
                    <i class="fas fa-user-friends"></i>
                    <span>No per-office, per-employee costs</span>
                </div>
                <div class="feature">
                    <i class="fas fa-signal"></i>
                    <span>Unlimited usage</span>
                </div>
            </div>
        </section>
        \{{/if}}
    </div>
    \{{> footerPartial}}
    <div id='modal-box'></div>
    \{{> scriptsPartial}}
    <script src="js/home.js"></script>
 
</body>

</html>
