<!DOCTYPE html>
<html lang="en">

<head>
    \{{> headPartial this}}
    <link rel="stylesheet" href="css/office.css">
</head>

<body data-slug="\{{officeName}}">
    \{{> persistentBarPartial}}
    \{{> headerPartial}}
    \{{#if videoId}}
    <div class="youtube">
        <iframe fs="1" id="video-iframe" src="https://www.youtube.com/embed/\{{videoId}}?enablejsapi=1"
            allow="fullscreen">
        </iframe>
    </div>
    \{{/if}}

    <div class="container">
        <section>
            <div class="office-name-container">
                <span>
                    <img height="40" width="40" src="https://source.unsplash.com/96x96/?nature,water" alt="">
                </span>
                <h1>\{{pageTitle}}</h1>
            </div>
            <p>\{{aboutOffice}}</p>
            <span class="company-size-span">
                <i class="fas fa-users"></i>
                \{{officeEmployeeSize}}
            </span>
        </section>

        \{{#if displayProducts}}
        <section class="product-section">
            <h2>Our Products</h2>
            <div class="products-container">
                \{{#each productObjectsArray}}
                <div class="product-box">
                    <div class="product-image-name-container">
                        \{{#if this.imageUrl}}
                        <img src=\{{this.imageUrl}} alt="product \{{this.name}}">
                        \{{else}}
                        <i class="far fa-image"></i>
                        \{{/if}}
                        <div class="product-name-container">\{{this.name}}</div>
                    </div>

                    <div class="product-details-container">
                        <ul>
                            <li>TYPE: \{{this.productType}}</li>
                            <li>BRAND: \{{this.brand}}</li>
                            <li>MODEL: \{{this.model}}</li>
                            <li>SIZE: \{{this.size}}</li>
                        </ul>
                    </div>
                </div>
                \{{/each}}
            </div>
        </section>
        \{{/if}}

        <section class="enquiry-section">
            <h2>Send Us An Enquiry</h2>
            <form>
                <p>
                    {{!-- Your name --}}
                    <label for="user-display-name">Your Name</label>
                    <input class="input-field" type="text" name="user-display-name" value="\{{userDisplayName}}">
                </p>
                <p>
                    {{!-- your email --}}
                    <label for="user-email">Your Email</label>
                    <input class="input-field" type="text" name="user-email" value="\{{userEmail}}">
                </p>
                <p>
                    {{!-- your contact --}}
                    <label for="user-phone-number">Your Contact</label>
                    <input class="input-field" type="tel" name="user-phone-number" value="\{{userPhoneNumber}}">
                </p>
                <p>
                    {{!-- enquiry text --}}
                    <label for="enquiry-text">Your Enquiry</label>
                    <textarea class="input-field" name="enquiry-text" id="enquiry-text" cols="30" rows="10"></textarea>
                </p>
                \{{#if displayProducts}}
                <p>
                    {{!-- product name --}}
                    <label for="product-select">Product Name</label>
                    <select name="product-select" id="product-select">
                        <option value="">None</option>
                        \{{#each productObjectsArray}}
                        <option value="\{{this.name}}">\{{this.name}}</option>
                        \{{/each}}
                    </select>
                </p>
                \{{/if}}
                <a class="button" id="enquiry-submit-button" href="#">
                    Submit
                    <i class="fas fa-arrow-right"></i>
                </a>
            </form>
        </section>

        \{{#if displayBranch}}
        <section class="branch-section">
            <h2>Branch Offices</h2>

            <div class="branches-box">
                <div class="maps-container">
                    <a class="button" id="load-map-button" href="#">Load Map</a>
                    <div id="map"></div>
                </div>

                <div class="branch-list-container">
                    \{{#each branchObjectsArray}}
                    <ul>
                        <li data-latitude=\{{this.latitude}} data-longitude=\{{this.longitude}} class="list-item">
                            <span class="list-item-name">\{{this.name}}</span>
                            <span class="list-item-address">\{{this.address}}</span>
                        </li>
                    </ul>
                    \{{/each}}
                </div>
            </div>
        </section>
        \{{/if}}
    </div>

    \{{> footerPartial}}
    <script defer src="https://maps.googleapis.com/maps/api/js?key=\{{mapsApiKey}}"></script>
    <script defer src="js/office.js"></script>
</body>

</html>
