<!DOCTYPE html>
<html lang="en">

<head>
    \{{> headPartial this}}
    <link rel="stylesheet" href="css/office.css">
</head>

<body data-slug="\{{officeName}}">
    \{{> persistentBarPartial this}}
    \{{> headerPartial this}}
    <div class="container">
        \{{> asidePartial}}
        <section class="youtube-section">
            \{{#if videoId}}
            <div class="youtube">
                <iframe fs="1" id="ytplayer" src="https://www.youtube.com/embed/\{{videoId}}?enablejsapi=1"
                    allow="fullscreen" autoplay="1">
                </iframe>
            </div>
            \{{/if}}
            <div class="border pad">
                <div class="office-name-container">
                    <span>
                        <img height="68" width="68" src=\{{logoURL}} alt="company logo"
                            onerror="this.onerror=null;this.src='img/office-placeholder.jpg'">
                    </span>
                    <h1>\{{officeName}}</h1>
                </div>
                <span class="flexed border bg-white pad mb-16">
                    <span>Company Size:</span>
                    <span class="bold"> \{{officeEmployeeSize}}</span>
                </span>
                \{{#if shortDescription}}
                <p class="short-description border pad bg-white">\{{shortDescription}}</p>
                \{{/if}}
                \{{#if aboutOffice}}
                <p class="border pad bg-white">\{{aboutOffice}}</p>
                \{{/if}}
            </div>
        </section>
        \{{#if displayProducts}}
        <section class="product-section">
            <h2>Our Products</h2>
            <div class="products-container">
                \{{#each productObjectsArray}}
                <div class="product-box" onclick="handleProductClick(this)">
                    <div class="product-image-name-container">
                        \{{#if this.imageUrl}}
                        <img onerror="this.onerror=null;this.src='img/office-placeholder.jpg'" src=\{{this.imageUrl}}
                            alt="product \{{this.name}}">
                        \{{else}}
                        <i class="far fa-image"></i>
                        \{{/if}}
                        <div class="product-name-container bold">\{{this.name}}</div>
                    </div>

                    <div class="product-details-container hidden animated fadeIn">
                        <ul>
                            \{{#if this.productType}}
                            <li>
                                <span class="bold">TYPE:</span>
                                \{{this.productType}}
                            </li>
                            \{{/if}}
                            \{{#if this.brand}}
                            <li>
                                <span class="bold">BRAND:</span>
                                \{{this.brand}}</li>
                            \{{/if}}
                            \{{#if this.model}}
                            <li>
                                <span class="bold">MODEL:</span>
                                \{{this.model}}
                            </li>
                            \{{/if}}
                            \{{#if this.size}}
                            <li>
                                <span class="bold">SIZE:</span>
                                \{{this.size}}
                            </li>
                            \{{/if}}
                        </ul>
                    </div>
                </div>
                \{{/each}}
            </div>
        </section>
        \{{/if}}

        <section class="enquiry-section">
            <h2>Send Us An Enquiry</h2>
            <form>
                <p>
                    {{!-- enquiry text --}}
                    <label for="enquiry-text">Your Enquiry</label>
                    <textarea class="input-field" name="enquiry-text" id="enquiry-text" cols="30" rows="10"></textarea>
                </p>
                \{{#if displayProducts}}
                <p>
                    {{!-- product name --}}
                    <label for="product-select">Product Name</label>
                    <select name="product-select" id="product-select">
                        <option value="">None</option>
                        \{{#each productObjectsArray}}
                        <option value="\{{this.name}}">\{{this.name}}</option>
                        \{{/each}}
                    </select>
                </p>
                \{{/if}}
                <p class="m0-auto fit-content">
                    <a class="button" id="enquiry-submit-button" href="#">
                        Submit
                        <i class="fas fa-arrow-right"></i>
                    </a>
                </p>
            </form>
        </section>

        \{{#if displayBranch}}
        <section class="branch-section">
            <h2>Branch Offices</h2>

            <div class="branches-box">
                <div class="maps-container">
                    <a id="load-map-button" href="#">
                        <img
                            src="https://maps.googleapis.com/maps/api/staticmap?center=New+Delhi&zoom=13&size=400x300&maptype=roadmap&key=\{{mapsApiKey}}">
                    </a>
                    <div id="map"></div>
                </div>

                <div class="branch-list-container">
                    <ul>
                        \{{#each branchObjectsArray}}
                        <li data-latitude=\{{this.latitude}} data-longitude=\{{this.longitude}}
                            class="list-item flexed flexed-row">
                            <div class="flexed flexed-column no-ptr-evt">
                                <span class="mb-16 bold">\{{this.name}}</span>
                                <span class="col-gray">\{{this.address}}</span>
                                \{{#if this.isOpen}}
                                <span class="branch-status col-green">Open now</span>
                                \{{/if}}
                                \{{#if this.isClosed}}
                                <span class="branch-status col-red">Opens at \{{this.openingTime}}</span>
                                \{{/if}}
                                \{{#if this.isClosingSoon}}
                                <span class="branch-status col-orange">Closes at \{{this.closingTime}}</span>
                                \{{/if}}
                            </div>
                            <div class="flexed flexed-row flexed-jc-center flexed-js-ai-center">
                                \{{#if this.branchContact}}
                                <a class="col-light-blue pad-10" href="tel:\{{this.branchContact}}">
                                    <i class="fas fa-phone"></i>
                                </a>
                                \{{/if}}
                                <a class="col-light-blue pad-10" rel="noopener" target="_blank"
                                    href="\{{this.mapsUrl}}">
                                    <i class="fas fa-directions"></i>
                                </a>
                            </div>
                        </li>
                        \{{/each}}
                    </ul>
                </div>
            </div>
        </section>
        \{{/if}}
    </div>

    \{{> footerPartial}}
    \{{> scriptsPartial}}
    <script defer src="https://maps.googleapis.com/maps/api/js?key=\{{mapsApiKey}}"></script>
    <script defer src="js/office.js"></script>
</body>

</html>
