<!DOCTYPE html>
<html lang="en">

<head>
    \{{> headPartial this}}
    <link rel="stylesheet" href="css/office.css">
</head>

<body data-slug="\{{officeName}}" data-videoId="\{{videoId}}">
    \{{> persistentBarPartial this}}
    \{{> headerPartial this}}
    <div class="container mt-16">
        \{{> asidePartial}}
        <section class="youtube-section">
            \{{#if videoId}}
            <div class="youtube">
                <iframe fs="1" id="ytplayer" src="https://www.youtube.com/embed/\{{videoId}}?enablejsapi=1"
                    allow="fullscreen" autoplay="1">
                </iframe>
            </div>
            \{{/if}}
            <div class="border pad">
                <div class="office-name-container">
                    <div id="office-avatar" class="hidden avatar mr-16">\{{officeFirstChar}}</div>
                    <span>
                        <img height="68" width="68" src=\{{logoURL}} alt="company logo"
                            onerror="this.onerror=null;this.classList.add('hidden'); document.querySelector('#office-avatar').classList.remove('hidden');">
                    </span>
                    <span class="flexed flexed-ai-center">
                        <h1>\{{officeName}}</h1>
                    </span>
                </div>
                <p class="mt-16">
                    <i class="fas fa-users"></i>
                    \{{officeEmployeeSize}}
                </p>
                \{{#if shortDescription}}
                <p class="short-description italic">\{{shortDescription}}</p>
                \{{/if}}
                \{{#if aboutOffice}}
                <p class="">\{{aboutOffice}}</p>
                \{{/if}}
            </div>
        </section>
        \{{#if displayProducts}}
        <section class="product-section pad">
            <h2>Our Products</h2>
            <div class="products-container grid-33">
                \{{#each productObjectsArray}}
                <div class="product-box cur-ptr" onclick="handleProductClick(this)">
                    <div class="product-image-name-container">
                        <div data-\{{this.name}}="" class="hidden avatar">\{{this.nameFirstChar}}</div>
                        <img class="rounded" onerror="this.onerror=null; this.src='img/office-placeholder.jpg'"
                            src=\{{this.imageUrl}} alt="product \{{this.name}}">
                        <div class="product-name-container">\{{this.name}}</div>
                    </div>

                    <div class="tooltip">
                        <ul class="bottom">
                            \{{#if this.productType}}
                            <li>
                                <span class="bold">TYPE:</span>
                                \{{this.productType}}
                            </li>
                            \{{/if}}
                            \{{#if this.brand}}
                            <li>
                                <span class="bold">BRAND:</span>
                                \{{this.brand}}</li>
                            \{{/if}}
                            \{{#if this.model}}
                            <li>
                                <span class="bold">MODEL:</span>
                                \{{this.model}}
                            </li>
                            \{{/if}}
                            \{{#if this.size}}
                            <li>
                                <span class="bold">SIZE:</span>
                                \{{this.size}}
                            </li>
                            \{{/if}}
                        </ul>
                    </div>
                </div>
                \{{/each}}
            </div>
        </section>
        \{{/if}}

        <section class="enquiry-section pad">
            <h2>Send Us An Enquiry</h2>
            <form autocomplete="off" aria-autocomplete="none">
                <div id="form-message" class="hidden flexed-jc-center flexed-ai-center animated"></div>
                <fieldset id="form-1">
                    <p>
                        {{!-- enquiry text --}}
                        <textarea placeholder="Type here..." class="input-field" name="enquiry-text" id="enquiry-text"
                            cols="30" rows="5"></textarea>
                    </p>
                    \{{#if displayProducts}}
                    <p>
                        {{!-- product name --}}
                        <select class="input-field" name="product-select" id="product-select">
                            <option value="">Select a Product</option>
                            \{{#each productObjectsArray}}
                            <option value="\{{this.name}}">\{{this.name}}</option>
                            \{{/each}}
                        </select>
                    </p>
                    \{{/if}}
                </fieldset>

                {{!-- TODO: Refactor this. This case will never arise since if the user is logged in,
                    their display name, email will be empty --}}
                \{{#if isLoggedIn}}
                {{!--empty --}}
                <fieldset></fieldset>
                \{{else}}
                <fieldset>
                    <p>
                        {{!-- phoneNumber --}}
                        <input id="phone" type="tel" class="input-field">
                    </p>
                    <p>
                        {{!-- displayName --}}
                        <input id="display-name" placeholder="Your Name" type="text" class="input-field hidden">
                    </p>
                    <p>
                        {{!-- email --}}
                        <input id="email" placeholder="Your Email" type="email" class="input-field hidden">
                    </p>
                    <p>
                        <input id="otp" placeholder="Enter OTP Here" type="text" class="input-field hidden">
                    </p>
                </fieldset>
                {{!--is loggcoed in end --}}
                \{{/if}}

                <fieldset>
                    <div id="recaptcha-container" class="flexed-ai-center flexed-jc-center"></div>
                    <p>
                        <input id="tc-checkbox" type="checkbox">
                        I accept the <a class="col-magenta underline" href="/terms-and-conditions">terms and
                            services</a>
                    </p>
                    \{{#if isLoggedIn}}
                    <p id="enquiry-submit-container" class="m0-auto fit-content">
                        <button type="submit" class="button flexed flexed-ai-center" id="enquiry-submit-button">
                            <span>
                                \{{#if photoURL}}
                                <img class="rounded" width="30" height="30" src=\{{photoURL}}
                                    alt="header-profile-picture" alt="profile image">
                                \{{else}}
                                <img class="rounded" width="30" height="30" src="img/person.png" alt="photo url">
                                \{{/if}}
                            </span>
                            <span class="ml-16">Submit</span>
                        </button>
                    </p>
                    \{{else}}
                    <p id="enquiry-submit-container" class="m0-auto fit-content hidden">
                        <button type="submit" class="button flexed flexed-ai-center" id="enquiry-submit-button">
                            <span>
                                \{{#if photoURL}}
                                <img class="rounded" width="30" height="30" src=\{{photoURL}}
                                    alt="header-profile-picture" alt="profile image">
                                \{{else}}
                                <img class="rounded" width="30" height="30" src="img/person.png" alt="photo url">
                                \{{/if}}
                            </span>
                            <span class="ml-16">Submit</span>
                        </button>
                    </p>
                    \{{/if}}
                </fieldset>
            </form>
        </section>

        \{{#if displayBranch}}
        <section class="branch-section">
            <h2>Branch Offices</h2>
            <div class="branches-box" id="init-map-trigger">
                <div class="tac">
                    <div id="load-map-button" href="#">
                        <img id="maps-placeholder" src="img/static-map.png">
                        <a id="retry-location-button" class="button" href="#">Allow Location Access</a>
                    </div>
                    <div id="map"></div>
                </div>

                <ul class="branch-list-container pad">
                    \{{#each branchObjectsArray}}
                    <li data-latitude=\{{this.latitude}} data-longitude=\{{this.longitude}}
                        class="list-item flexed flexed-row">
                        <div class="flexed flexed-column no-ptr-evt">
                            <span class="mb-8 bold">\{{this.name}}</span>
                            <span class="col-gray">\{{this.address}}</span>
                            \{{#if this.isOpen}}
                            <span class="branch-status col-green">Open now</span>
                            \{{/if}}
                            \{{#if this.isClosed}}
                            <span class="branch-status col-red">Opens at \{{this.openingTime}}</span>
                            \{{/if}}
                            \{{#if this.isClosingSoon}}
                            <span class="branch-status col-orange">Closes at \{{this.closingTime}}</span>
                            \{{/if}}
                        </div>
                        <div class="flexed flexed-row flexed-jc-center flexed-ai-center ft-size-20">
                            \{{#if this.branchContact}}
                            <a class="col-light-blue pad-10" href="tel:\{{this.branchContact}}">
                                <i class="fas fa-phone"></i>
                            </a>
                            \{{/if}}
                            <a class="col-light-blue pad-10" rel="noopener" target="_blank" href="\{{this.mapsUrl}}">
                                <i class="fas fa-directions"></i>
                            </a>
                        </div>
                    </li>
                    \{{/each}}
                </ul>
            </div>
        </section>
        \{{/if}}
        \{{> footerPartial}}
    </div>
    \{{> scriptsPartial}}
    <script defer src="https://maps.googleapis.com/maps/api/js?key=\{{mapsApiKey}}"></script>
    <script defer src="js/office.js"></script>
</body>

</html>
