<!DOCTYPE html>
<html lang="en">

<head>
    \{{> headPartial this}}
    <link rel="stylesheet" href="css/office.css">
</head>

<body data-slug="\{{officeName}}">
    \{{> persistentBarPartial this}}
    \{{> headerPartial this}}
    <div class="container">
        \{{> asidePartial}}
        <section class="youtube-section">
            \{{#if videoId}}
            <div class="youtube">
                <iframe fs="1" id="video-iframe" src="https://www.youtube.com/embed/\{{videoId}}?enablejsapi=1"
                    allow="fullscreen">
                </iframe>
            </div>
            \{{/if}}
            <div class="border pad">
                <div class="office-name-container">
                    <span>
                        <img height="68" width="68" src=\{{logoURL}} alt="">
                    </span>
                    <h1>\{{officeName}}</h1>
                </div>
                <span class="flexed border bg-white pad mb-16">
                    <span>Company Size:</span>
                    <span class="bold"> \{{officeEmployeeSize}}</span>
                </span>
                \{{#if shortDescription}}
                <p class="short-description border pad bg-white">\{{shortDescription}}</p>
                \{{/if}}

                \{{#if aboutOffice}}
                <p class="border pad bg-white">\{{aboutOffice}}</p>
                \{{/if}}
            </div>
        </section>
        \{{#if displayProducts}}
        <section class="product-section">
            <h2>Our Products</h2>
            <div class="products-container">
                \{{#each productObjectsArray}}
                <div class="product-box">
                    <div class="product-image-name-container">
                        \{{#if this.imageUrl}}
                        <img src=\{{this.imageUrl}} alt="product \{{this.name}}">
                        \{{else}}
                        <i class="far fa-image"></i>
                        \{{/if}}
                        <div class="product-name-container bold">\{{this.name}}</div>
                    </div>

                    <div class="product-details-container">
                        <ul>
                            \{{#if this.productType}}
                            <li>TYPE: \{{this.productType}}</li>
                            \{{/if}}
                            \{{#if this.brand}}
                            <li>BRAND: \{{this.brand}}</li>
                            \{{/if}}
                            \{{#if this.model}}
                            <li>MODEL: \{{this.model}}</li>
                            \{{/if}}
                            \{{#if this.size}}
                            <li>SIZE: \{{this.size}}</li>
                            \{{/if}}
                        </ul>
                    </div>
                </div>
                \{{/each}}
            </div>
        </section>
        \{{/if}}

        <section class="enquiry-section">
            <h2>Send Us An Enquiry</h2>
            <form>
                <p>
                    {{!-- enquiry text --}}
                    <label for="enquiry-text">Your Enquiry</label>
                    <textarea class="input-field" name="enquiry-text" id="enquiry-text" cols="30" rows="10"></textarea>
                </p>
                \{{#if displayProducts}}
                <p>
                    {{!-- product name --}}
                    <label for="product-select">Product Name</label>
                    <select name="product-select" id="product-select">
                        <option value="">None</option>
                        \{{#each productObjectsArray}}
                        <option value="\{{this.name}}">\{{this.name}}</option>
                        \{{/each}}
                    </select>
                </p>
                \{{/if}}
                <p class="m0-auto fit-content">
                    <a class="button" id="enquiry-submit-button" href="#">
                        Submit
                        <i class="fas fa-arrow-right"></i>
                    </a>
                </p>
            </form>
        </section>

        \{{#if displayBranch}}
        <section class="branch-section">
            <h2>Branch Offices</h2>

            <div class="branches-box">
                <div class="maps-container">
                    <a class="button" id="load-map-button" href="#">Load Maps</a>
                    <div id="map"></div>
                </div>

                <div class="branch-list-container">
                    \{{#each branchObjectsArray}}
                    <ul>
                        <li data-latitude=\{{this.latitude}} data-longitude=\{{this.longitude}} class="list-item">
                            <span class="list-item-name bold">\{{this.name}}</span>
                            <span class="list-item-address">\{{this.address}}</span>
                            \{{#if this.isOpen}}
                            <span class="branch-status bg-green col-white">OPEN</span>
                            \{{/if}}
                            \{{#if this.isClosed}}
                            <span class="branch-status bg-red col-white">CLOSED</span>
                            \{{/if}}
                            \{{#if this.isClosingSoon}}
                            <span class="branch-status bg-orange col-white">CLOSING SOON</span>
                            \{{/if}}
                            \{{#if this.isOnHoliday}}
                            <span class="branch-status bg-orange col-white">BRANCH HOLIDAY</span>
                            \{{/if}}
                        </li>
                    </ul>
                    \{{/each}}
                </div>
            </div>
        </section>
        \{{/if}}
    </div>

    \{{> footerPartial}}
    \{{> scriptsPartial}}
    <script defer src="https://maps.googleapis.com/maps/api/js?key=\{{mapsApiKey}}"></script>
    <script defer src="js/office.js"></script>
</body>

</html>
