<header class="mb-16">
    <div class="header">
        <a href="/" class="logo-container">
            <img src="/img/logo-main.jpg" alt="Growthfile Logo" height="40" width="40">
            <p class="logo-text"><span>Growth</span>file</p>
        </a>
        <div class="header-links-container">
            \{{#if isLoggedIn}}
            <a id="header-profile-icon" href="#">
                \{{> headerProfileIcon}}
            </a>
            <div class="dropdown-content animated fadeIn">
                <div class="menu-user-details mb-16">
                    \{{#if photoURL}}
                    <img width="96" height="96" src=\{{photoURL}} alt="header-profile-picture" alt="profile image">
                    \{{else}}
                    <img width="96" height="96" src="img/person.png" alt="image not available">
                    \{{/if}}
                    <ul>
                        <li class="ft-size-16 bold">
                            \{{#if displayName}}
                            \{{displayName}}
                            \{{/if}}
                        </li>
                        <li class="menu-details-item">
                            \{{phoneNumber}}
                        </li>
                        <li class="menu-details-item">
                            \{{#if email}}
                            \{{email}}
                            \{{/if}}
                        </li>
                    </ul>
                </div>
                <div class="flexed-sb m-0-20">
                    <a href="#">
                        \{{#if emaiVerified}}
                        <i class="fas fa-check-circle col-green"></i>
                        Verified
                        \{{else}}
                        <i class="fas fa-times-circle col-red"></i>
                        Unverfied
                        \{{/if}}
                    </a>
                    <a class="button pad-0-20" href="#" id="menu-logout-link">Log Out</a>

                </div>
            </div>
            \{{else}}
            <a class="hidden" id="header-hamburger-icon" href="#">
                <i class="fas fa-bars"></i>
            </a>
            <a href="/auth" class="button">Login</a>
        </div>
        \{{/if}}
    </div>
</header>
