<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<meta name="theme-color" content="#89273E">
<meta name="description" content="\{{pageDescription}}">

\{{#if pageIndexable}}
<meta name="robots" content="index,follow">
\{{else}}
<meta name="robots" content="noindex,nofollow">
\{{/if}}

<meta name="google-site-verification" content="">
<meta name="msvalidate.01" content="">
<meta name="mobile-web-app-capable" content="yes">

<title>\{{pageTitle}}</title>

<meta property="og:title" content="\{{pageTitle}}">
<meta property="og:description" content="\{{pageDescription}}">

<meta property="og:app_id" content="425454438063638">
<meta property="og:image" content="">
<meta property="og:type" content="website">
<meta property="og:url" content="\{{pageUrl}}">

<link rel="icon" type="image/png" href="img/favicon.ico" />
<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/16.0.1/css/intlTelInput.css"
    integrity="sha256-rTKxJIIHupH7lFo30458ner8uoSSRYciA0gttCkw1JE=" crossorigin="anonymous" />
<link href="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.css" rel="stylesheet">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="css/variables.css">
<link rel="stylesheet" href="css/static.css">
