<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<meta name="theme-color" content="#89273E">
<meta name="description" content="\{{pageDescription}}">

\{{#if pageIndexable}}
<meta name="robots" content="index,follow">
\{{else}}
<meta name="robots" content="noindex,nofollow">
\{{/if}}

<meta name="google-site-verification" content="">
<meta name="msvalidate.01" content="">
<meta name="mobile-web-app-capable" content="yes">
<meta name="google-play-app" content="app-id=com.growthfile.growthfileNew">

<title>\{{pageTitle}}</title>

<meta property="og:title" content="\{{pageTitle}}">
<meta property="og:description" content="\{{pageDescription}}">

<link href="https://fonts.googleapis.com/css?family=Libre+Franklin" rel="stylesheet">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
    integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.0/animate.min.css"
    integrity="sha256-HtCCUh9Hkh//8U1OwcbD8epVEUdBvuI8wj1KtqMhNkI=" crossorigin="anonymous" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
<link rel="stylesheet" href="css/common.css">

<script defer src="https://www.youtube.com/iframe_api"></script>
<script defer src="https://www.gstatic.com/firebasejs/5.9.4/firebase-app.js"></script>
<script defer src="https://www.gstatic.com/firebasejs/5.9.4/firebase-auth.js"></script>
<script defer type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5c9db267fe61c735"></script>
<script defer src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"
    integrity="sha256-4iQZ6BVL4qNKlQ27TExEhBN1HFPvAvAMbFavKKosSWQ=" crossorigin="anonymous"></script>
<script defer
    src="https://cdnjs.cloudflare.com/ajax/libs/moment-timezone/0.5.23/moment-timezone-with-data-2012-2022.min.js"
    integrity="sha256-IxkOFTlGnMi1+sywOLJgzNosxiZyxw76GQClGo49G+U=" crossorigin="anonymous"></script>
<script defer crossorigin="anonymous"
    src="https://polyfill.io/v3/polyfill.min.js?features=Array.from%2CPromise%2CArray.prototype.includes%2Cdocument.querySelector"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.14.2/xlsx.min.js"
    integrity="sha256-DEm2j937O5sPcNgf9S99EnWL/UGjdUfUm+R+o2AkTgQ=" crossorigin="anonymous"></script>
<script defer src="js/main.js"></script>
