<header>
    <a href="/" class="logo-container">
        <img src="/img/logo-main.jpg" alt="Growthfile Logo" height="40" width="40">
        <p class="logo-text"><span>Growth</span>file</p>
    </a>
    <div class="header-links-container">
        \{{#if isLoggedIn}}
        <a id="header-profile-icon" href="#">
            <i class="fas fa-bars"></i>
        </a>
        <div class="dropdown-content animated fadeIn">
            <div class="menu-user-details">
                \{{#if photoURL}}
                <img width="96" height="96" src=\{{photoURL}} alt="header-profile-picture" alt="profile image">
                \{{else}}
                <img width="96" height="96" src="img/person.png" alt="image not available">
                \{{/if}}
                <ul>
                    <li class="menu-details-item">
                        \{{#if displayName}}
                        \{{displayName}}
                        \{{/if}}
                    </li>
                    <li class="menu-details-item">
                        \{{phoneNumber}}
                    </li>
                    <li class="menu-details-item">
                        \{{#if email}}
                        \{{email}}
                        \{{/if}}
                        \{{#if emaiVerified}}
                        <i class="fas fa-check-circle"></i>
                        \{{else}}
                        <i class="fas fa-times-circle"></i>
                        \{{/if}}
                    </li>
                </ul>
            </div>
            <div class="text-align-right">
                <a href="#" id="menu-logout-link">Log Out</a>
            </div>
        </div>
        \{{else}}
        <a id="header-hamburger-icon" href="#">
            <i class="fas fa-bars"></i>
        </a>
    </div>
    \{{/if}}
    </div>
</header>
